{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<form action='/accounts/profile/' method="POST">
    {% csrf_token %}
    {% for people in users %}
        {% if people.user.username != user.username %}
            <input type="submit" value="{{people.user.username}}" name="selected_user"><br>
        {% endif %}
    {% endfor %}
</form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}}
