{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h2>{{pageHead}}</h2>
  <h3>{{followers}} followers</h3>
  <h4>profile last updated: {{last_updated}}</h4>
  {% if refresh %}
  <form action='/accounts/profile/' method="POST" class="text-center">
  {% csrf_token %}
  <button type="submit" value="Refresh Data" name="selected_user" class="btn btn-link btn-lg" >Update Now</button>
  <!-- <input type="submit" value="Refresh Data" name="selected_user"> -->
  </form>
  {% endif %}
  <ul>
    {% for repo in repos %}
        <li>{{ repo.repo_name }} - {{repo.stars}} stars</li>
    {% endfor %}
  </ul>
  
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" class="btn btn-success">Log In</a>
{% endif %}
{% endblock %}}
